@import '../../../styles/variables.scss';

// Explanatory error message
// for erroneous Input components.
.InputError {
    color: $co-color-red;
    display: block;
    font-size: $co-font-sm;
    margin: 7px 0 10px 0;
}
