@import '../../../styles/variables.scss';

.ProgressBar {
    position: relative;
    height: 20px;
    border: solid 1px $co-color-mid-gray;
    border-radius: 3px;
    background-color: $co-color-white;

    &__progress {
        height: 100%;
        border-radius: 3px 0 0 3px;
        background-color: $co-color-primary;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-out;

        &.full {
            border-radius: 3px;
        }
    }

    &__progress-label {
        font-size: $co-font-xs;
        position: absolute;
        top: 0;
        color: $co-color-primary;
        text-align: left;

        &.ProgressBar__progress-label-left {
            color: $co-color-white;
            text-align: right;
        }
    }

    // states
    &--secondaryColor {
        .ProgressBar__progress {
            background-color: $co-color-secondary;
        }
    }

    &--greyBackground {
        background-color: $co-color-mid-gray;
        border: 0;
    }

    &--danger {
        .ProgressBar__progress {
            background-color: $co-color-dark-red;
        }

        .ProgressBar__progress-label {
            color: $co-color-dark-red;
        }
    }

    &--warning {
        .ProgressBar__progress {
            background-color: $co-color-dark-orange;
        }

        .ProgressBar__progress-label {
            color: $co-color-dark-orange;
        }
    }
}
