@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$progressColor: $co-color-primary;
$baseLineColor: $co-color-mid-gray;

$stepWidthRatio: 1/4;
$stepHalfWidthRatio: $stepWidthRatio / 2;

$stepWidth: 100% * $stepWidthRatio;
$stepHalfWidth: 100% * $stepHalfWidthRatio;

.StepProgressBar {

    height: 80px;
    position: relative;

    @include mobile {
        height: 95px;
    }

    &__line {
        width: 100%;
        height: 3px;
        background-color: $baseLineColor;
        position: absolute;
        top: 10px;
    }

    &__progress {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $progressColor;
        transition: transform 0.5s ease-out;
        transform-origin: left;
    }

    &__step {
        width: $stepWidth;
        position: absolute;
        top: 10px;

        &.active ~ .StepProgressBar__step {
            color: $co-color-mid-gray;
            font-weight: bold;
        }
    }

    &__step-text {
        text-align: center;
        padding-top: 15px;
    }

    &__circle {
        width: 10px;
        height: 10px;
        position: absolute;
        background: $baseLineColor;
        left: calc(50% - 5px);
        border-radius: 100%;
        top: -3px;
    }

    &__nb-steps-2 {
        .StepProgressBar__step1 {
            left: 0;
        }

        .StepProgressBar__step2 {
            left: calc(100% - #{$stepWidth});
        }

        &.StepProgressBar__step-active-1 {
            .StepProgressBar__progress {
                transform: scaleX($stepHalfWidthRatio);
            }
        }

        &.StepProgressBar__step-active-2 {
            .StepProgressBar__progress {
                transform: scaleX(1 - $stepHalfWidthRatio);
            }
        }

        @include mobile {
            $largeStepWidthRatio: 0.35;
            $largeStepWidth: 100% * $largeStepWidthRatio;

            .StepProgressBar__step {
                width: $largeStepWidth;
            }
            .StepProgressBar__step-text {
                padding-top: 10px;
            }
            .StepProgressBar__step2 {
                left: calc(100% - #{$largeStepWidth});
            }

            &.StepProgressBar__step-active-1 {
                .StepProgressBar__progress {
                    transform: scaleX($largeStepWidthRatio / 2);
                }
            }

            &.StepProgressBar__step-active-2 {
                .StepProgressBar__progress {
                    transform: scaleX(1 - ($largeStepWidthRatio / 2));
                }
            }
        }
    }
    &__nb-steps-3 {
        .StepProgressBar__step1 {
            left: 0;
        }

        .StepProgressBar__step2 {
            left: calc(50% - #{$stepHalfWidth});
        }

        .StepProgressBar__step3 {
            left: calc(100% - #{$stepWidth});
        }

        &.StepProgressBar__step-active-1 {
            .StepProgressBar__progress {
                transform: scaleX($stepHalfWidthRatio);
            }
        }

        &.StepProgressBar__step-active-2 {
            .StepProgressBar__progress {
                transform: scaleX(0.5);
            }
        }

        &.StepProgressBar__step-active-3 {
            .StepProgressBar__progress {
                transform: scaleX(1 - $stepHalfWidthRatio);
            }
        }
    }
    &__nb-steps-4 {
        .StepProgressBar__step1 {
            left: 0;
        }

        .StepProgressBar__step2 {
            left: calc((100% - #{$stepWidth}) / 3);
        }

        .StepProgressBar__step3 {
            left: calc((100% - #{$stepWidth}) / 3 * 2);
        }

        .StepProgressBar__step4 {
            left: calc(100% - #{$stepWidth});
        }

        &.StepProgressBar__step-active-1 {
            .StepProgressBar__progress {
                transform: scaleX($stepHalfWidthRatio);
            }
        }

        &.StepProgressBar__step-active-2 {
            .StepProgressBar__progress {
                transform: scaleX(((1 - $stepWidthRatio) / 3) + $stepHalfWidthRatio);
            }
        }

        &.StepProgressBar__step-active-3 {
            .StepProgressBar__progress {
                transform: scaleX(((1 - $stepWidthRatio) / 3 * 2) + $stepHalfWidthRatio);
            }
        }

        &.StepProgressBar__step-active-4 {
            .StepProgressBar__progress {
                transform: scaleX((1 - $stepWidthRatio) + $stepHalfWidthRatio);
            }
        }

        .StepProgressBar__step-text {
            padding-left: 4%;
            padding-right: 4%;
        }
    }

    &__step-active-1 {
        .StepProgressBar__step1 .StepProgressBar__circle {
            background-color: $progressColor;
        }

        .StepProgressBar__step1 .StepProgressBar__step-text {
            font-weight: bold;
        }
    }
    &__step-active-2 {
        .StepProgressBar__step1 .StepProgressBar__circle,
        .StepProgressBar__step2 .StepProgressBar__circle {
            background-color: $progressColor;
        }

        .StepProgressBar__step2 .StepProgressBar__step-text {
            font-weight: bold;
        }
    }
    &__step-active-3 {
        .StepProgressBar__step1 .StepProgressBar__circle,
        .StepProgressBar__step2 .StepProgressBar__circle,
        .StepProgressBar__step3 .StepProgressBar__circle {
            background-color: $progressColor;
        }

        .StepProgressBar__step3 .StepProgressBar__step-text {
            font-weight: bold;
        }
    }
    &__step-active-4 {
        .StepProgressBar__step1 .StepProgressBar__circle,
        .StepProgressBar__step2 .StepProgressBar__circle,
        .StepProgressBar__step3 .StepProgressBar__circle,
        .StepProgressBar__step4 .StepProgressBar__circle {
            background-color: $progressColor;
        }

        .StepProgressBar__step4 .StepProgressBar__step-text {
            font-weight: bold;
        }
    }
}
