@import '../../../styles/variables.scss';

.Button {
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    font-size: $co-font-sm;
    outline: 0 !important;
    font-size: $co-font-sm;
    touch-action: manipulation;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 8px 15px; // makes the height 40px
    transition: background-color 250ms ease-out, border-color 250ms ease-out, color 250ms ease-out;

    &.full {
        background-color: $co-color-primary;
        border-color: $co-color-primary;
        color: $co-color-white;

        &.disabled {
            background-color: $co-color-light-gray !important;
        }

        &:hover {
            background-color: $co-color-secondary;
            border-color: $co-color-secondary;
        }
    }

    &.ghost {
        background-color: $co-color-white;
        border-color: $co-color-primary;
        color: $co-color-primary;

        &:hover {
            background-color: $co-color-secondary;
            border-color: $co-color-secondary;
            color: $co-color-white;
        }

        &.disabled {
            background-color: $co-color-white !important;
        }
    }

    &.disabled {
        border-color: $co-color-mid-gray !important;
        cursor: not-allowed;
        pointer-events: none;

        &,
        span {
            color: $co-color-mid-gray !important;
        }
    }

    // In case a Button has an icon defined
    svg {
        margin-right: 5px;
    }

    &.only-icon {
        svg {
            margin: 0;
        }
        padding: 8px 12px;
    }

    &.icon-after-text {
        white-space: initial;

        svg {
            float: right;
            position: relative;
            top: 2px;
            margin-left: 5px;
            margin-right: 0;
        }
    }

    // If buttons follow each other in a row
    // set a standardized whitespace between them
    & ~ & {
        margin-left: 9px;
    }
}
