.MultiLangTextInput {
    // Hide inactive languages using visibility,
    // this way their values are still submitted
    // as their display is not set to none.
    &.active-lang-en {
        .TextInput:not(.lang-en) {
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }
    }
    &.active-lang-de {
        .TextInput:not(.lang-de) {
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }
    }
    &.active-lang-fr {
        .TextInput:not(.lang-fr) {
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }
    }

    // Resize icons as flags are used
    .TextInput .TextInput__icon {
        width: 20px;
        height: 16px;
        transform: translateY(-27px);
    }
}
