@import '../../../styles/variables.scss';

// Label element for Input components
// Common styles regardless of html tag
.InputLabel {
    color: $co-color-gray;
    font-size: $co-font-xs;
    line-height: $co-line-height-xs;
    font-weight: bold;
    margin-bottom: 5px;
    transition: color 250ms ease-out;
    &[for] {
        cursor: pointer;
    }
}

// Styles for <label> tag
label.InputLabel {
    display: block;
    font-size: $co-font-xs;
}

// Styles for <span> tag
span.InputLabel {
    font-size: $co-font-sm;
}

*.has-error .InputLabel {
    // All .InputLabel elements contained
    // within an erroneous Input component.
    color: $co-color-red;
}
