.PasswordInputContainer {
    .Popover {
        width: 300px;
        ul {
            margin: 0;
            padding-left: 25px;
        }
        li {
            padding: 5px;
        }
        li.valid {
            color: gray;
            opacity: 0.5;
        }
    }
}
