@import '../../../styles/variables.scss';

.Alert {
    border-radius: 3px;
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    padding-left: 25px;
    position: relative;
    // animation
    transition: opacity 500ms cubic-bezier(0.165, 0.84, 0.44, 1), transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);

    &.fade {
        transform: scale(1) translateZ(0);
        opacity: 1;
        will-change: transform, opacity;
    }

    &.slide-right {
        transform: translate3d(0, 0, 0);
        will-change: transform;
    }

    // Common styles for elements
    &__icon,
    &__message {
        display: inline-block;
    }

    &__icon {
        // font
        font-size: $co-font-md;
        // positioning
        position: absolute;
        top: 2px;
        left: 0;
    }

    &__message {
        font-size: $co-font-sm;
        margin: 0;
        padding: 0;
        line-height: $co-line-height-sm;
    }

    // States
    &.info {
        color: $co-color-secondary;
    }

    &.warning {
        color: $co-color-dark-orange;
    }

    &.danger {
        color: $co-color-dark-red;
    }

    &.success {
        color: $co-color-dark-green;
    }

    &.dismissed {
        &.fade {
            transform: scale(0.75) translateZ(0);
            opacity: 0;
        }

        &.slide-right {
            transform: translate3d(100%, 0, 0);
        }
    }

    /**
   * Display variations
   */
    // Default with background and borders
    &.box {
        padding: 15px;

        &.with-icon {
            padding-left: 40px;
        }

        .Alert__icon {
            left: 15px;
            top: 17px;
        }

        &.info {
            background-color: $co-color-light-blue;
        }

        &.warning {
            background-color: $co-color-light-orange;
        }

        &.danger {
            background-color: $co-color-light-red;
        }

        &.success {
            background-color: $co-color-light-green;
        }
    }

    // Appears on the right of the screen usually on callbacks.
    // Messages can be places in a queue.
    &.notification {
        display: inline-block;
        margin: 0;
        padding: 10px 10px 10px 35px;

        .Alert__icon {
            left: 10px;
            top: 13px;
        }

        &.info,
        &.warning,
        &.danger,
        &.success {
            color: $co-color-white;
        }

        .Alert__message {
            font-weight: bold;
        }

        &.info {
            background-color: $co-color-primary;
        }

        &.warning {
            background-color: $co-color-orange;
        }

        &.danger {
            background-color: $co-color-red;
        }

        &.success {
            background-color: $co-color-green;
        }
    }
}
